<% provide :title, t("category_list") %>

<ul class="nav nav-pills nav-warning float-right justify-content-end">
    <li class="nav-item">
        <%= link_to 'All', categories_path %>
    </li>
    <li class="nav-item">
        <%= link_to 'Learned', categories_path(learned: 1) %>
    </li>
    <li class="nav-item">
        <%= link_to 'Not learned', categories_path(learned: 0) %>
    </li>
</ul>
<% if @categories.any? %>
    <div class="row">
        <% @categories.each do |category| %>
            <div class="col-md-6">
                <article class="card card-category p-2 h-100">
                    <div class="card-body">
                        <h5 class="card-title"><%= category.name %> </h5>
                        <p class="card-text">
                            <strong>[<%= category.words.count %> words]</strong>
                        </p>
                            <% lesson = category.lesson current_user %>
                            <% if lesson && lesson.score %>
                                <%= link_to t("show_result"), lesson, class: "btn btn-success btn-md" %>
                            <%else%>
                                <%= form_tag current_user.lessons.build do %>
                                    <%= hidden_field_tag :category_id, category.id %>
                                    <%= button_tag type: :submit, class: "btn btn-primary" do %>
                                    <%= t("learn") %>
                                    <% end %>
                                <% end %>
                            <% end %>
                    </div>
                </article>
                <br><br>
            </div>
        <%end%>
        <%= will_paginate %>
    </div>
<% else %>
    <div class="alert alert-danger">
       <h1><%= t "nothing" %></h1>
    </div>
<% end %>
